<%= form_for @profile, url: user_profile_path, :html => { :multipart => true } do |f| %>
  <% if @profile.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>
          <ul>
            <% @profile.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
      </div>
  <% end %>
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <!--
  <div class="field">
    <%= f.label :profile_picture %>
    <%= f.file_field :profile_pic %>
  </div> -->
  <div class="field">
    <%= f.label :occupation %>
    <%= f.text_field :occupation %>
  <div class="field">
    <%= f.label :about_me %>
    <%= f.text_area :about_me %>
  </div>
  <div class="field">
    <%= f.submit "Update Profile" %>
  </div>
<% end %>