<div class="row">
    <div class="small-12 columns">
        <h2>Search Events</h2>
    	<table id="all-events" class="display responsive nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Hashtag</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Subscribers</th>
                    <th>Manager</th>
                    <th></th>
                </tr>
            </thead>
            <tfoot></tfoot>
            <tbody>
                <% @events.each do |event| %>
                    <tr>
                        <td><%= event.name %></td>
                        <td><%= event.hashtag %></td>
                        <td><%= event.event_date %></td>
                        <% if event.event_time[11..12].to_i > 12 %>
                            <% hour = event.event_time[11..12].to_i - 12%>
                            <td> <%= hour %><%= event.event_time[13..15] %> PM</td>
                        <% elsif event.event_time[11..12].to_i == 0 %>
                            <% hour = event.event_time[11..12].to_i + 12 %>
                            <td><%= hour %><%= event.event_time[13..15] %> AM</td>
                        <% else %>
                            <td><%= event.event_time[12..15]%> AM</td>
                        <% end %>
                        <td><%= event.subscribers.count %></td>
                        <% email = User.find(event.user_id).email %>
                        <% username = User.find(event.user_id).username %>
                        <% if email.blank? %>
                            <td><%= username %></td>
                        <% else %>
                            <td><%= email %></td>
                        <% end %>
                        <td><%= link_to "View Event", "/events/#{event.id}", method: :get, class: "table-links" %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>

<script>
	$(document).ready(function() {
	    $('#all-events').DataTable({
            "order": [0, 'asc'],
            "columnDefs": [{ "orderable": false, "targets": [6] }],
        });
	});
</script>