<% @comments.each do |comment| %>
	<div>
    	<h5><%= comment.comment %></h5>
    	<% email = User.find(comment.user_id).email %>
    	<% username = User.find(comment.user_id).username %>
        <% if email.blank? %>
        	<h5>Posted by: <%= username %></h5>
        <% else %>
           	<h5>Posted by: <%= email %></h5>
        <% end %>
        <%= link_to "Reply", new_event_comment_path(:parent_id => comment.id), remote: true %>
        <% if current_user.id == comment.user_id %>
             | <%= link_to "Delete", event_comment_path(@event, comment), remote: true, method: :delete, data: { confirm: 'Are you sure?' } %>  
        <% end %>
    </div>
<% end %>
