<div>
    <br />
    <div><%= comment.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%B %d, %Y @ %I:%M %p") %></div>
    <div>
        <%= link_to comment.comment, event_comment_path(@event, comment) %>
    </div>
    <% email = User.find(comment.user_id).email %>
    <% username = User.find(comment.user_id).username %>
    <% if email.blank? %>
      <div>Posted by: <%= username %></div>
    <% else %>
      <div>Posted by: <%= email %></div>
    <% end %>
    <div>
        <%= link_to "Reply", new_event_comment_path(:parent_id => comment.id), remote: true %> |
        <%= link_to "Delete", event_comment_path(@event, comment), data: { :confirm => "Are you sure you want to delete this comment?" }, :method => :delete, remote: true %>
    </div>
</div>