<%= form_for @comment, url: event_comments_path(@event, @comment), remote: true do |f| %>
	<%= f.hidden_field :parent_id %>
	<div class="field">
	    <%= f.label :comment %>
	    <%= f.text_area :comment %>
  	</div>
  	<div class="actions">
    	<%= f.submit "Add Comment" %>
  	</div>
<% end %>