<%= form_for @comment, url: event_comments_path(@event, @comment), remote: true do |f| %>
	<% if @comment.errors.any? %>
	    <div id="error_explanation">
	    	<h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
	      	<ul>
	      		<% @comment.errors.full_messages.each do |message| %>
	        		<li><%= message %></li>
	      		<% end %>
	      	</ul>
	    </div>
	<% end %>
	<div class="field">
	    <%= f.label :comment %>
	    <%= f.hidden_field :parent_id %>
	    <%= f.text_area :comment, :rows => 4, :placeholder => "Leave a comment...", :id => "text-area", :req => "text-area", :reqerror=>"Please enter a comment."  %>
  	</div>
  	<a class="button small comment-button" id="comment-submit" href="#">Post Comment</a>
  	<div class="actions">
    	<%= f.submit "Post Comment", :id => "submit-comment", :class => "button small comment-button hidden" %>
  	</div>

  	<script>
	    $(document).ready(function() {
	        $('#comment-submit').on("click", function() {
	            jQuery('[req]').submissionOK({ 
	                highlight: true
	            });
	            return false;
	        });
	    });

	    jQuery.fn.submissionOK.formSubmission = function (o) {
	       $("#submit-comment").click();
	    };
	</script>
<% end %>