<ul class="off-canvas-list" id="mobile-events-list">
	<li><%= link_to "New Event", new_event_path, method: :get %></li>
	<li><%= link_to "Search Events", search_events_path, method: :get %></li>
	<% if @event.user_id == @user.id %>
		<li><%= link_to "Manage Event", event_manage_events_path(@event), method: :get %></li>
	<% end %>
	<li><label>My Events</label></li>
	<% @events.each do |event| %>
		<% event_id = Event.find(event.id) %>
		<% if params[:controller] == "tweets" %>
			<li><%= link_to "##{event.hashtag}", event_tweets_path(event), method: :get %>
		<% elsif params[:controller] == "comments" %>
			<li><%= link_to "##{event.hashtag}", event_comments_path(event), method: :get %>
		<% end %>
	<% end %>
	<li><label>Subscriptions</label></li>
	<% @subscriptions.each do |event| %>
		<% event_id = Event.find(event.id) %>
		<% if params[:controller] == "tweets" %>
			<li><%= link_to "##{event.hashtag}", event_tweets_path(event), method: :get %>
		<% elsif params[:controller] == "comments" %>
			<li><%= link_to "##{event.hashtag}", event_comments_path(event), method: :get %>
		<% end %>
	<% end %>
</ul>