<%= form_for(@event) do |f| %>
	<% if @event.errors.any? %>
	    <div id="error_explanation">
	    	<h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
	      	<ul>
	      		<% @event.errors.full_messages.each do |message| %>
	        		<li><%= message %></li>
	      		<% end %>
	      	</ul>
	    </div>
	<% end %>
	<div class="field">
		<h3><%= f.label :name %></h3>
		<!-- put # before name field and validate -->
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<h3><%= f.label :event_date %></h3>
		<%= f.text_field :event_date, :id=>"dp1", :html=>{:class => "date-picker"} %>
	</div>
	<div class="field">
		<h3><%= f.label :event_time %></h3>
		<%= f.time_select :event_time, :combined => true, :default => Time.now, :minute_interval => 30, :time_separator => "", :start_hour => 0, :start_minute => 0, :end_hour => 23, :end_minute => 0, :ampm => true %>
	</div>
	<div class="field">
		<h3><%= f.label :description %></h3>
		<%= f.text_area :description, :rows => 4 %>
	</div>
	<div class="actions">
		<br>
		<%= f.submit "Create Event", :class => "button small new-event-button" %>
	</div>

	<script>
		$(document).ready(function() {
			$('#dp1').fdatepicker({
				initialDate: '03-15-2016',
				format: 'mm/dd/yyyy',
				disableDblClickSelection: true
			});
		});
	</script>

<% end %>