<div class="row">
	<div class="small-6 columns">
		<h2>My Events</h2>
		<ul class="accordion" data-accordion>
			<% @events.each do |event| %>
	  			<li class="accordion-navigation">
				    <a href="#panel<%= event.id %>a"><%= event.name %></a>
				    <div id="panel<%= event.id %>a" class="content">
				    	<div class="row">
					      	<div class="small-12 columns">
					      		<p class="text-center">
					      			<strong>#hashtag</strong><br />
					      			<strong>Event Description</strong>: <%= event.description %><br />
      								<strong>Event Date</strong>: <%= event.event_date %><br />
      								<% if event.event_time[11..12].to_i > 12 %>
      									<% hour = event.event_time[11..12].to_i - 12%>
      									<strong>Start Time</strong>: <%= hour %><%= event.event_time[13..15] %> PM<br />
      								<% else %>
      									<strong>Start Time</strong>: <%= event.event_time[11..15]%> AM<br />
      								<% end %>
      								<strong>Number of Subscribers</strong>: <%= event.subscribers.count %></p>
					      		</p>
					      		<%= link_to "View More", "/events/#{event.id}", method: :get, class: "button small unsubscribe-button" %>
					      	</div>
					    </div>
				    </div>
			  	</li>
		  	<% end %>
		</ul>
	</div>
	<div class="small-6 columns">
	  	<h2>Subscribed Events</h2>
	  	<ul class="accordion" data-accordion>
		  	<% @subscriptions.each do |event| %>
	  			<li class="accordion-navigation">
				    <a href="#panel<%= event.id %>a"><%= event.name %></a>
				    <div id="panel<%= event.id %>a" class="content">
				    	<div class="row">
					    	<div class="small-12 columns">
					    		<p><strong>Event Description</strong> - <%= event.description %></p>
					    	</div>
					      	<div class="small-12 columns">
					      		<img class="center my-event-image" src="http://placehold.it/350x150" alt="#{event.id}" />
					      	</div>
					      	<div class="small-12 columns">
					      		<p class="text-center"><strong>#<%= event.name %></strong><br />
					      								<strong>Event Date</strong>: <%= event.event_date %><br />
					      								<% if event.event_time[11..12].to_i > 12 %>
					      									<% hour = event.event_time[11..12].to_i - 12%>
					      									<strong>Start Time</strong>: <%= hour %><%= event.event_time[13..15] %> PM<br />
					      								<% else %>
					      									<strong>Start Time</strong>: <%= event.event_time[11..15]%> AM<br />
					      								<% end %><br />
					      								<strong>Number of Subscribers</strong>: <%= event.subscribers.count %></p>
					      		<div class="event-owner">
					      			<% if current_user.subscribed?(event) %>
										<%= link_to "Unsubscribe", "/events/#{event.id}/unsubscribe", method: :get, class: "button small unsubscribe-button" %>
									<% end %>
					      		</div>
					      	</div>
					    </div>
				    </div>
			  	</li>
		  	<% end %>
		</ul>
	</div>
</div>