<div class="row">
	<div class="small-12 medium-6 columns">
		<h2>My Events</h2>
		<% if @events.count == 0 %>
			<h5>You do not have any events.</h5>
			<%= link_to "New Event", new_event_path, method: :get, class: "button small subscribe-button" %>
		<% else %>
			<ul class="accordion" data-accordion>
				<% @events.each do |event| %>
		  			<li class="accordion-navigation">
					    <a href="#panel<%= event.id %>a"><%= event.name %></a>
					    <div id="panel<%= event.id %>a" class="content">
					    	<div class="row">
						      	<div class="small-12 columns">
						      		<p class="text-center">
						      			<strong>#<%= event.hashtag %></strong><br />
						     			<strong>Location</strong>: <%= event.location %><br />
	      								<strong>Date</strong>: <%= event.event_date %><br />
	      								<% if event.event_time[11..12].to_i > 12 %>
	      									<% hour = event.event_time[11..12].to_i - 12%>
	      									<strong>Time</strong>: <%= hour %><%= event.event_time[13..15] %> PM<br />
	      								<% elsif event.event_time[11..12].to_i == 12 %>
	      									<strong>Time</strong>: <%= event.event_time[11..15] %> PM<br />
	      								<% elsif event.event_time[11..12].to_i < 12 && event.event_time[11..12].to_i >= 10 %>
											<strong>Start Time</strong>: <%= event.event_time[11..15]%> AM<br />
	      								<% elsif event.event_time[11..12].to_i == 0 %>
											<% hour = event.event_time[11..12].to_i + 12 %>
											<strong>Time</strong>: <%= hour %><%= event.event_time[13..15] %> AM<br />
	      								<% else %>
	      									<strong>Time</strong>: <%= event.event_time[12..15]%> AM<br />
	      								<% end %>
	      								<strong>Subscribers</strong>: <%= event.subscribers.count %><br />
						      		</p>
						      		<%= link_to "View More", "/events/#{event.id}", method: :get, class: "button small unsubscribe-button" %>
						      		<%= link_to "Edit Event", "/events/#{event.id}/edit", method: :get, class: "button small unsubscribe-button" %>
						      	</div>
						    </div>
					    </div>
				  	</li>
			  	<% end %>
			</ul>
		<% end %>
	</div>
	<div class="small-12 medium-6 columns">
	  	<h2>Subscribed Events</h2>
	  	<% if @subscriptions.count == 0 %>
			<h5>You are not subscribed to any events.</h5>
			<%= link_to "Search Events", search_events_path, method: :get, class: "button small subscribe-button" %>
		<% else %>
		  	<ul class="accordion" data-accordion>
			  	<% @subscriptions.each do |event| %>
		  			<li class="accordion-navigation">
					    <a href="#panel<%= event.id %>a"><%= event.name %></a>
					    <div id="panel<%= event.id %>a" class="content">
					    	<div class="row">
						      	<div class="small-12 columns">
						      		<p class="text-center">
						      			<strong>#<%= event.hashtag %></strong><br />
						      			<strong>Location</strong>: <%= event.location %><br />
	      								<strong>Date</strong>: <%= event.event_date %><br />
	      								<% if event.event_time[11..12].to_i > 12 %>
	      									<% hour = event.event_time[11..12].to_i - 12%>
	      									<strong>Time</strong>: <%= hour %><%= event.event_time[13..15] %> PM<br />
	      								<% elsif event.event_time[11..12].to_i == 12 %>
	      									<strong>Time</strong>: <%= event.event_time[11..15] %> PM<br />
	      								<% elsif event.event_time[11..12].to_i < 12 && event.event_time[11..12].to_i >= 10 %>
											<strong>Start Time</strong>: <%= event.event_time[11..15]%> AM<br />
	      								<% elsif event.event_time[11..12].to_i == 0 %>
											<% hour = event.event_time[11..12].to_i + 12 %>
											<strong>Time</strong>: <%= hour %><%= event.event_time[13..15] %> AM<br />
	      								<% else %>
	      									<strong>Time</strong>: <%= event.event_time[12..15]%> AM<br />
	      								<% end %>
	      								<strong>Subscribers</strong>: <%= event.subscribers.count %><br />
      								</p>
						      		<div class="event-owner">
						      			<% if current_user.subscribed?(event) %>
						      				<%= link_to "View More", "/events/#{event.id}", method: :get, class: "button small unsubscribe-button" %>
											<%= link_to "Unsubscribe", "/events/#{event.id}/unsubscribe", method: :get, class: "button small unsubscribe-button" %>
										<% end %>
						      		</div>
						      	</div>
						    </div>
					    </div>
				  	</li>
			  	<% end %>
			</ul>
		<% end %>
	</div>
</div>