<div class="row">
	<div class="small-12 columns">
		<h2>My Events</h2>
		<ul class="accordion" data-accordion>
			<% @events.each do |event| %>
	  			<li class="accordion-navigation">
				    <a href="#panel<%= event.id %>a"><%= event.name %></a>
				    <div id="panel<%= event.id %>a" class="content">
				    	<div class="row">
					      	<div class="small-12 columns">
					      		<p class="text-center">
					      			<strong>#hashtag</strong><br />
					      			<strong>Event Description</strong>: <%= event.description %><br />
      								<strong>Event Date</strong>: <%= event.event_date %><br />
      								<strong>Start Time</strong>: <%= event.event_time.strftime("%l:%M %p") %><br />
					      		</p>
					      		<%= link_to "View More", "/events/#{event.id}", method: :get, class: "button small unsubscribe-button" %>
					      	</div>
					    </div>
				    </div>
			  	</li>
		  	<% end %>
		</ul>
	</div>
</div>