<div class="row">
	<div class="small-12 columns">
		<% if @event.event_pic_file_name.present? %>
			<%= image_tag @event.event_pic.url(:medium), :class=>"event-banner" %>
		<% end %>
		<div id="getting-started"></div>
		<script type="text/javascript">
		  $('#getting-started').countdown(new Date('<%= @event.event_date %>'), function(event) {
		    $(this).html(event.strftime('%w weeks %d days %H:%M:%S'));
		  });
		</script>
		<h3 class="text-center"><strong><%= @event.name %></strong></h3>
		<h5 class="text-center"><strong>#<%= @event.hashtag %></strong></h5>
		<p class="text-center"><strong>Description</strong>: <%= @event.description %></p>
		<p class="text-center"><strong>Event Date</strong>: <%= @event.event_date %><br />
			<% if @event.event_time[11..12].to_i > 12 %>
				<% hour = @event.event_time[11..12].to_i - 12 %>
				<strong>Start Time</strong>: <%= hour %><%= @event.event_time[13..15] %> PM<br />
			<% elsif @event.event_time[11..12].to_i == 0 %>
				<% hour = @event.event_time[11..12].to_i + 12 %>
				<strong>Start Time</strong>: <%= hour %><%= @event.event_time[13..15] %> AM<br />
			<% else %>
				<strong>Start Time</strong>: <%= @event.event_time[12..15]%> AM<br />
			<% end %>
			<strong>Number of Subscribers</strong>: <%= @event.subscribers.count %><br />
			<strong>Event Manager</strong>:&nbsp;
			<% email = User.find(@event.user_id).email %>
            <% username = User.find(@event.user_id).username %>
            <% if email.blank? %>
                <td><%= username %></td>
            <% else %>
                <td><%= email %></td>
            <% end %>
		</p>             
		<% if current_user.id == @event.user_id %>
			<%= link_to "Edit Event", "/events/#{@event.id}/edit", method: :get, class: "button small unsubscribe-button" %>
		<% elsif current_user.subscribed?(@event) %>
			<%= link_to "Unsubscribe", "/events/#{@event.id}/unsubscribe", method: :get, class: "button small unsubscribe-button" %>
		<% else %>
			<%= link_to "Subscribe", "/events/#{@event.id}/subscribe", method: :get, class: "button small unsubscribe-button" %>
		<% end %>
	</div>
</div>