<div class="row">
	<div class="small-12 columns">
		<% if @event.event_pic_file_name.present? %>
			<%= image_tag @event.event_pic.url(:medium), :class=>"event-banner" %>
		<% end %>
	</div>
</div>
<div class="row show-for-large-only">
	<div class="large-6 columns">
		<h1><strong><%= @event.name %></strong></h1>
		<h3><strong>#<%= @event.hashtag %></strong></h3>
	</div>
	<div class="large-4 columns">
		<br />
		<script language="javascript" type="text/javascript">
			var eventCountdown = new Countdown(
			{
				year	: <%= @year %>,
				month	: <%= @month %>, 
				day		: <%= @day %>,
				hour    : <%= @hour %>,
				minute  : <%= @minute %>,
				width	: 300, 
				height	: 50,
				hideLine: true,
				rangeHi : "day",

				numbers	: 
				{
					color  : "#7FB800",
					bkgd   : "#2274A5"
				}
				
			});
		</script>
	</div>
</div>
<div class="row hide-for-large-up">
	<div class="small-12 columns">
		<h1 class="text-center"><strong><%= @event.name %></strong></h1>
		<h3 class="text-center"><strong>#<%= @event.hashtag %></strong></h3>
		<br />
		<div align="center">
		<script language="javascript" type="text/javascript">
			var eventCountdown = new Countdown(
			{
				year	: <%= @year %>,
				month	: <%= @month %>, 
				day		: <%= @day %>,
				hour    : <%= @hour %>,
				minute  : <%= @minute %>,
				width	: 300, 
				height	: 50,
				hideLine: true,
				rangeHi : "day",

				numbers	: 
				{
					color  : "#7FB800",
					bkgd   : "#2274A5"
				}
				
			});
		</script>
		</div>
	</div>
</div>
<br />
<div class="row">
	<div class="small-12 columns">
		<ul class="pricing-table">
			<li class="title">Event Info</li>
			<li class="bullet-item"><strong>Location</strong>: <%= @event.location %></li>
			<li class="bullet-item"><strong>Date</strong>: <%= @event.event_date %></li>
			<% if @event.event_time[11..12].to_i > 12 %>
				<% hour = @event.event_time[11..12].to_i - 12 %>
				<li class="bullet-item"><strong>Time</strong>: <%= hour %><%= @event.event_time[13..15] %> PM</li>
			<% elsif @event.event_time[11..12].to_i < 12 && @event.event_time[11..12].to_i >= 10 %>
				<li class="bullet-item"><strong>Time</strong>: <%= @event.event_time[11..15]%> AM</li>
			<% elsif @event.event_time[11..12].to_i == 0 %>
				<% hour = @event.event_time[11..12].to_i + 12 %>
				<li class="bullet-item"><strong>Time</strong>: <%= hour %><%= @event.event_time[13..15] %> AM</li>
			<% else %>
				<li class="bullet-item"><strong>Time</strong>: <%= @event.event_time[12..15]%> AM</li>
			<% end %>
			<li class="bullet-item"><strong>Subscribers</strong>: <%= @event.subscribers.count %></li>
			<% email = User.find(@event.user_id).email %>
			<% username = User.find(@event.user_id).username %>
			<% if email.blank? %>
				<li class="bullet-item"><strong>Event Manager</strong>: <%= link_to username, "/users/#{@event.user_id}", method: :get, class: "manager-profile" %></li>
			<% else %>
				<li class="bullet-item"><strong>Event Manager</strong>: <%= link_to email, "/users/#{@event.user_id}", method: :get, class: "manager-profile" %></li>
			<% end %>
			<li class="description"><%= @event.description %></li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="large-6 columns">
		<%= link_to "View Tweets", event_tweets_path(@event), method: :get, class: "button small new-event-button" %>
	</div>
	<div class="large-6 columns">
		<% if current_user.id == @event.user_id %>
			<%= link_to "Edit Event", "/events/#{@event.id}/edit", method: :get, class: "button small new-event-button" %>
		<% elsif current_user.subscribed?(@event) %>
			<%= link_to "Unsubscribe", "/events/#{@event.id}/unsubscribe", method: :get, class: "button small new-event-button" %>
		<% else %>
			<%= link_to "Subscribe", "/events/#{@event.id}/subscribe", method: :get, class: "button small new-event-button" %>
		<% end %>
		<br />
	</div>
</div>

<!-- Reloads page in safari -->
<script type="text/javascript">
	window.addEventListener("pageshow", function(evt){
        if(evt.persisted){
        	setTimeout(function(){
            	window.location.reload();
        	},10);
    	}
	}, false);
</script>