<div class="off-canvas-wrap show-for-small-only mobile-events-menu" data-offcanvas data-equalizer>
	<div class="inner-wrap">
		<nav class="tab-bar">
		  	<section class="left-small">
		    	<a class="left-off-canvas-toggle menu-icon button" href="#"><span></span></a>
		  	</section>
		</nav>

		<aside class="left-off-canvas-menu" data-equalizer-watch>
			<%= render 'events/manage_events_sidebar_mobile' %>
		</aside>

		<section class="middle tab-bar-section">
		    <h6 class="title events-off-canvas">My Events</h1>
		</section>

		<section class="main-section display-tweets-mobile 12-columns" data-equalizer-watch>
			<div class="row">
				<div class="small-12 columns">
					<h2><%= @event.name %></h2>
					<br />
					<h3>Tweets</h3>
					<% if @tweets.empty? %>
						<h4 class="no-tweets">There are currently no tweets for this event.</h4>
					<% else %>
						<div class="digg_pagination">
						    <div class="page_info">
						      <%= page_entries_info @tweets %>
						    </div>
						    <%= will_paginate @tweets, :container => false %>
						</div>
						<% @tweets.each do |tweet| %>
							<div class="small-10 columns">
		    					<blockquote class="twitter-tweet" data-lang="en">
			  						<p lang="en" dir="ltr"><p><%= tweet.text %></p>&mdash; <%= tweet.name %> (@<%=tweet.username%>) 
			  						<a href="https://twitter.com/<%= tweet.username %>/status/<%= tweet.id_str %>"></a>
			  					</blockquote>
		    				</div>
		    				<div class="small-2 columns tweet-delete">
		    					<%= link_to image_tag("thumbs-up.png"), event_manage_event_path(@event, tweet), method: :put, class: "comment-icons approve-icon" %>
		    					<%= link_to image_tag("delete-icon.png"), event_manage_event_path(@event, tweet), method: :delete, data: { :confirm => "Are you sure you want to delete this tweet?" }, class: "comment-icons delete-icon" %>
		    				</div>
							<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
						<% end %>
				        <div class="digg_pagination">
						    <div class="page_info">
						      <%= page_entries_info @tweets %>
						    </div>
						    <%= will_paginate @tweets, :container => false %>
						</div>
				    <% end %>
				    <br />
				    <h3>Comments</h3>
					<% if @comments.empty? %>
						<h4 class="no-tweets">There are currently no comments for this event.</h4>
					<% else %>
						<% @comments.each do |comment| %>
				        	<div class=" small-12 columns user-comment">
							    <div class="small-3 medium-2 columns">
							        <% user = User.find(comment.user_id) %>
							        <% if !user.profile.nil? %>
							            <% if user.profile.profile_pic_file_name.present? %>
							                <%= link_to (image_tag user.profile.profile_pic.url(:medium), :class=>"comment-picture"), "/users/#{comment.user_id}", method: :get  %>
							            <% else %>
							                <%= image_tag("profile-placeholder.png", :class=>"comment-picture") %>
							            <% end %>
							        <% else %>
							            <%= image_tag("profile-placeholder.png", :class=>"comment-picture") %>
							        <% end %>
							    </div>
							    <div class="small-9 medium-10 columns">
							        <% email = User.find(comment.user_id).email %>
							        <% username = User.find(comment.user_id).username %>
							        <% if !user.profile.nil? %>
							            <% if email.blank? %>
							              <div><strong><%= link_to username, "/users/#{comment.user_id}", method: :get, class: "comment-user"  %></strong></div>
							            <% else %>
							              <div><strong><%= link_to email, "/users/#{comment.user_id}", method: :get, class: "comment-user"  %></strong></div>
							            <% end %>
							        <% else %>
							            <% if email.blank? %>
							                <div><strong><%= username %></strong></div>
							            <% else %>
							                <div><strong><%= email %></strong></div>
							            <% end %>
							        <% end %>
							        <div><em><%= comment.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%B %d, %Y @ %I:%M %p") %></em></div>
							        <div>
							            <p class="comment-text"><%= comment.comment %></p>
							        </div>
							        
							        <div>
							            <% if params[:action] != "show" %> 
							                <%= link_to image_tag("thumbs-up.png"), event_comment_path(@event, comment), method: :put, class: "comment-icons" %>
							                |
							                <%= link_to image_tag("delete-icon.png"), event_comment_path(@event, comment), method: :delete, data: { :confirm => "Are you sure you want to delete this comment?" }, class: "comment-icons" %>
							            <% end %>
							        </div>
							    </div>
							    <a href="<%= event_comment_path(@event, comment) %>">
							        <span class="link-spanner"></span>
							    </a>
							</div>
				    	<% end %>
				    <% end %>
				</div>
			</div>
		</section>

		<a class="exit-off-canvas"></a>
	</div>
</div>

<div class="row show-for-medium-up">
	<div class="medium-3 columns">
		<%= render 'events/manage_events_sidebar' %>
	</div>
	<div class="medium-9 columns display-tweets-desktop">
		<h2><%= @event.name %></h2>
		<br />
		<h3>Tweets</h3>
		<% if @tweets.empty? %>
			<h4 class="no-tweets">There are currently no tweets for this event.</h4>
		<% else %>
			<div class="digg_pagination">
			    <div class="page_info">
			      <%= page_entries_info @tweets %>
			    </div>
			    <%= will_paginate @tweets, :container => false %>
			</div>
			<% @tweets.each do |tweet| %>
				<div class="small-12 medium-9 columns">
					<blockquote class="twitter-tweet" data-lang="en">
						<p lang="en" dir="ltr"><p><%= tweet.text %></p>&mdash; <%= tweet.name %> (@<%=tweet.username%>) 
						<a href="https://twitter.com/<%= tweet.username %>/status/<%= tweet.id_str %>"></a>
					</blockquote>
				</div>
				<div class="small-12 medium-3 columns tweet-delete">
					<%= link_to image_tag("thumbs-up.png"), event_manage_event_path(@event, tweet), method: :put, class: "comment-icons approve-icon" %>
					<%= link_to image_tag("delete-icon.png"), event_manage_event_path(@event, tweet), method: :delete, data: { :confirm => "Are you sure you want to delete this tweet?" }, class: "comment-icons delete-icon" %>
				</div>
				<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			<% end %>
	        <div class="digg_pagination">
			    <div class="page_info">
			      <%= page_entries_info @tweets %>
			    </div>
			    <%= will_paginate @tweets, :container => false %>
			</div>
	    <% end %>
	    <br />
	    <h3>Comments</h3>
		<% if @comments.empty? %>
			<h4 class="no-tweets">There are currently no comments for this event.</h4>
		<% else %>
			<!-- PAGINATION FOR COMMENTS -->
	        <% @comments.each do |comment| %>
	        	<div class=" small-12 columns user-comment">
				    <div class="small-3 medium-2 columns">
				        <% user = User.find(comment.user_id) %>
				        <% if !user.profile.nil? %>
				            <% if user.profile.profile_pic_file_name.present? %>
				                <%= link_to (image_tag user.profile.profile_pic.url(:medium), :class=>"comment-picture"), "/users/#{comment.user_id}", method: :get  %>
				            <% else %>
				                <%= image_tag("profile-placeholder.png", :class=>"comment-picture") %>
				            <% end %>
				        <% else %>
				            <%= image_tag("profile-placeholder.png", :class=>"comment-picture") %>
				        <% end %>
				    </div>
				    <div class="small-9 medium-10 columns">
				        <% email = User.find(comment.user_id).email %>
				        <% username = User.find(comment.user_id).username %>
				        <% if !user.profile.nil? %>
				            <% if email.blank? %>
				              <div><strong><%= link_to username, "/users/#{comment.user_id}", method: :get, class: "comment-user"  %></strong></div>
				            <% else %>
				              <div><strong><%= link_to email, "/users/#{comment.user_id}", method: :get, class: "comment-user"  %></strong></div>
				            <% end %>
				        <% else %>
				            <% if email.blank? %>
				                <div><strong><%= username %></strong></div>
				            <% else %>
				                <div><strong><%= email %></strong></div>
				            <% end %>
				        <% end %>
				        <div><em><%= comment.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%B %d, %Y @ %I:%M %p") %></em></div>
				        <div>
				            <p class="comment-text"><%= comment.comment %></p>
				        </div>
				        
				        <div>
				            <% if params[:action] != "show" %> 
				                <%= link_to image_tag("thumbs-up.png"), event_comment_path(@event, comment), method: :put, class: "comment-icons" %>
				                |
				                <%= link_to image_tag("delete-icon.png"), event_comment_path(@event, comment), method: :delete, data: { :confirm => "Are you sure you want to delete this comment?" }, class: "comment-icons" %>
				            <% end %>
				        </div>
				    </div>
				    <a href="<%= event_comment_path(@event, comment) %>">
				        <span class="link-spanner"></span>
				    </a>
				</div>
	    	<% end %>
	    	<!-- PAGINATION FOR COMMENTS -->
		<% end %>
	</div>
</div>

<script>
	$(function() {
		var activeEventHashtag = "<%= Event.find(params[:event_id]).hashtag %>";
		
		var myEventsListItems = $("#my-events-list li");
		addActiveClass(myEventsListItems, activeEventHashtag);

		var subscriptionsListItems = $("#subscriptions-list li");
		addActiveClass(subscriptionsListItems, activeEventHashtag);
		
		var mobileListItems = $("#mobile-events-list li");
		addActiveClassMobile(mobileListItems, activeEventHashtag);
	});

	var addActiveClass = function(listItems, activeEventHashtag) {
		listItems.each(function(index, li) {
    		var eventHashtag = $(li).text().substring(1);
    		if (eventHashtag.trim().toLowerCase() == activeEventHashtag.trim().toLowerCase()) {
    			$(li).addClass("active");
    		}
		});
	};

	var addActiveClassMobile = function(listItems, activeEventHashtag) {
		listItems.each(function(index, li) {
    		var eventHashtag = $(li).text().substring(1);
    		if (eventHashtag.trim().toLowerCase() == activeEventHashtag.trim().toLowerCase()) {
    			$(li).children().addClass("active");
    		}
		});
	};
</script>