<div class = "row home-content" data-equalizer>
	<div class = "small-12 columns">
		<div class="panel home-panel">
			<%= image_tag("Event-Social-Brand.png") %>
			<h6>Social media is now one of the most important tools planners and marketers can use to disseminate information about events and meetings, interact with attendees, solicit feedback, and create year-round engagement with a target audience. Why not combine event planning and social media?</h6>
			<br>
			<h6>Welcome to Event Social.</h6>
		</div>
	</div>
	<% if user_signed_in? %>
		<div class="small-12 medium-6 columns">
			<fieldset class="home-events" data-equalizer-watch>
				<legend>My Events</legend>
				<div class="row">
					<div class="small-12 medium-8 medium-centered columns">
						<%= link_to "View My Events", events_path, method: :get, class: "button" %>
						<%= link_to "Manage My Events", "#", method: :get, class: "button" %>
					</div>
				</div>
			</fieldset>
		</div>
		<div class="small-12 medium-6 columns">
			<fieldset class="home-profile" data-equalizer-watch>
				<legend>My Profile</legend>
				<div class="row">
					<div class="small-12 medium-8 medium-centered columns">
						<%= link_to "Edit My Profile", "#", method: :get, class: "button" %>
					</div>
				</div>
			</fieldset>
		</div>
	<% else %>
		<div class="small-12 medium-6 columns">
			<fieldset class="home-signup" data-equalizer-watch>
				<legend>Log In</legend>
				<div class="row">
					<div class="small-12 medium-8 medium-centered columns">
						<%= render "log_in_form" %>
					</div>
				</div>
			</fieldset>
		</div>
		<div class="small-12 medium-6 columns">
			<fieldset class="home-login" data-equalizer-watch>
				<legend>Sign Up</legend>
				<div class="row">
					<div class="small-12 medium-8 medium-centered columns">
						<%= render "sign_up_form" %>
					</div>
				</div>
			</fieldset>
		</div>
	<% end %>
</div>