<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="row sign-up-content">
    <div class="small-12 columns">
        <h2>Log in</h2>
        <div class="row">
          <div class="small-12 medium-8 large-6 medium-centered columns">
            <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
            <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>
            <%= f.submit "Log In", class: "button small signup-button" %>
            <p class="text-center">Or</p>
            <%= link_to image_tag("sign-in-with-twitter.png", :alt => 'Sign Up With Twitter', :class => 'twitter-login'), omniauth_authorize_path(:user, :twitter) %>
            <p class="not-user text-center">Don't have an account yet?: <%= link_to "Sign Up", new_registration_path(resource_name) %></p>
          </div>
        </div>
    </div>
  </div>
<% end %>