<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Event Social" %></title>
    
    <link href="//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
     <script src="/assets/jquery.lwtCountdown-1.0.js"></script>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="sticky">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><%= link_to image_tag("Event-Social-Brand.png", :class => "brand-nav", :id => "brand"), root_path, method: :get %></h1>
          </li>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Left Nav Section -->
          <% if user_signed_in? %>
            <ul class="left">
              <li><%= link_to "My Events", events_path, method: :get %></li>
              <% if @user_event != nil %>
                <li><%= link_to "Tweets", event_tweets_path(@user_event, @tweets), method: :get %></li>
                <li><%= link_to "Comments Board", "#", method: :get %></li>
              <% end %>
            </ul>
          <!-- Right Nav Section -->
            <ul class="right">
              <% if params[:controller] == 'events' %>
                <li><%= link_to "New Event", new_event_path, method: :get %></li>
                <li><%= link_to "Search Events", search_events_path, method: :get %></li>
              <% elsif current_page?(user_path(current_user)) %>
                <li><%= link_to "Edit Profile", edit_user_profile_path(current_user), method: :get %></li>
              <% end %>
              <li class="has-dropdown">
                <% if current_user.provider.blank? %>
                  <a href="#" style="padding-right: 50px !important;"><%= current_user.email %></a>
                <% else %>
                  <a href="#" style="padding-right: 50px !important;"><%= current_user.username %></a>
                <% end %>
                  <ul class="dropdown">
                    <% if current_user.profile %>
                      <li><%= link_to "My Profile", user_path(current_user), method: :get %></li>
                    <% else %>
                      <li><%= link_to "Create Your Profile", new_user_profile_path(current_user), method: :get %></li>
                    <% end %>
                    <li><%= link_to "Manage Events", "#", method: :get %></li>
                    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                  </ul>
              </li>
            </ul>
          <% else %>
            <ul class="right">
              <li><%= link_to "Log In", new_session_path(resource_name), method: :get %></li>
              <li><%= link_to "Sign Up", new_registration_path(resource_name), method: :get %></li>
            </ul>
          <% end %>
        </section>
      </nav>
    </div>

    <div class="row">
      <% flash.each do |key, value| %>
          <div data-alert class="alert-box <%= key %> radius">
            <%= value %>
            <a href="#" class="close">&times;</a>
          </div>
      <% end %>
    </div>

    <%= yield %>

  </body>
</html>
